<div id="error-container" style="display: none">
	<p class="title">Some errors may have occurred:</p>
	<div id="errors-list"></div>
	<div>
		If these are errors, you may wish to report them by raising a
		<a href="<%= bugReportUrl %>">bug report</a>.
	</div>
	<a id="dismiss-button" href="#">Hide</a>
</div>
